.layout{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header"
                         "sidebar content"
                         "footer footer";
    min-height: 100vh;
 
 
}
.header{
  grid-area:header;
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
.sidebar{
    grid-area:sidebar;
    background: #f2f2f2;
    padding: 20px;
}
.content{
    grid-area:content;
    padding: 20px;
  }
 
.footer{
    grid-area:footer;
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
 
}
@media(max-width:760px){
    .layout{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "sidebar"
                             "content"
                             "footer";
    }
  }