.container{
    margin: auto;
    width: 90%;
    
}

img{
    max-width: 100%;
    height: auto;
}

.cardsContainer {
            /* display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            /* background-color: aquamarine; */
            /* padding: 2rem;
            align-items: center;
            justify-content: center; */ */
        }

.item {
            position: relative;
            width: 150px;
            height: 320px;
            border: 1px solid #022c43;
            /* background-color: #38aecc; */
            padding: 1rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            /* font-size: 1.2rem; */
            /* color: blue; */
            border-radius: 12px;
        }

        /* Adding badge using ::after pseudo-element */
        .item::after {
            content: "New";
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            background-color: #022c43;
            color: wheat;
            padding: 0.25rem 0.5rem;
            font-size: 0.8rem;
            border-radius: 4px;
        }

        .item p {
            font-size: 12px;
            margin-top: 15px;
            color: gray;
            font-weight: bold;
            background-color: #f2f2f2;
            display: inline-block;
            padding: 2px 6px;
            border-radius: 4px;

        }

        .priceandbuy {
            margin-top: 15px;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        .priceandbuy button {
            float: right;
            padding: 5px 10px;
            background-color: #022c43;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        