*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* overflow-x: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;

}

 .image{
    width: 100vw;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 1200px;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 12px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 95vw;
    /* height: 100vh; */
    row-gap: 25px;
}


/* info */
.info{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    /* border: 1px solid black; */
}
.info h2{
    font-size: 2em;
    margin-bottom: 15px;
}
.info p{
    font-size: 1.2em;
    line-height: 1.2;
}

.detailNews{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    column-gap: 10px;
    max-width: 1500px;
    padding: 20px;
    height: 100%;
    /* border: 1px solid black;  */
}

.detailNews .col1{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.detailNews .col2{
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-left: 1px solid black;
    padding-left: 10px;

}

.col2 p{
    min-width: 400px;
}
.detailNews .col3{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-left: 1px solid black;
    padding-left: 10px;
}