.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.btn:hover {
    /* background-color: #45a049;
    transform: scale(1.05); */
    background-color: #3e8e41;
}