*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(66, 205, 159);
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
}


.container .login{
    width: 500px;
    padding: 15px;
    background-color: rgba(72, 152, 152, 0.625);
    border-radius: 15px;
    height: 250px;
}

.container form{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: 150px;

    justify-content: space-evenly;
}

.container input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.container input:focus{
    outline: none;
}

fieldset legend{
    margin-left: 15px; 
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    
}