.container {
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* .buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
} */

.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

 button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}