*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: antiquewhite;
    overflow-x: hidden;
}


header{
    border: 1px solid black;
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: rgb(24, 24, 24);

    border-radius: 0px 0px 15px 15px;
}

header  ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
}
header  ul{
    list-style: none;
}
header  ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

header  ul a:hover{
    border-bottom: 1px solid rgb(61, 56, 56);
    color: rgb(127, 121, 121);
}


.container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);

    align-items: center;
    justify-content: center;
}

footer{
    height: 50px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
